<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343116481100-4gjre9fpnud4p0emdfq4vpnfs0njlf2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343116481100-4gjre9fpnud4p0emdfq4vpnfs0njlf2e</string>
	<key>API_KEY</key>
	<string>AIzaSyA6x6_Yp37UghTmN6zunbbiVz5hbSNUpyI</string>
	<key>GCM_SENDER_ID</key>
	<string>343116481100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ak.Notes-App</string>
	<key>PROJECT_ID</key>
	<string>notes-29138</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-29138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343116481100:ios:072f8c935b09f7e1852ae9</string>
	<key>DATABASE_URL</key>
	<string>https://notes-29138.firebaseio.com</string>
</dict>
</plist>